extends layout.pug
block vars
	- var title = 'Корзина';
block header
	include includes/header.pug
block content
	include includes/content-basket.pug
block footer
	include includes/footer.pug     
              
