extends layout.pug
block vars
	- var title = 'Личный кабинет';
block header
	include includes/header.pug
block content
	include includes/content-cabinet.pug
block footer
	include includes/footer.pug     
              
