extends layout.pug
block vars
	- var title = 'Новости внутренняя';
block header
	include includes/header.pug
block content
	include includes/content-news-inner.pug
block footer
	include includes/footer.pug     
              
