extends layout.pug
block vars
	- var title = 'Оформление заказа, выбор способа доставки';
block header
	include includes/header.pug
block content
	include includes/content-order-np.pug
block footer
	include includes/footer.pug     
              
