extends layout.pug
block vars
	- var title = 'Регистрация открытки';
block header
	include includes/header.pug
block content
	include includes/content-postcard-reg.pug
block footer
	include includes/footer.pug     
              
