extends layout.pug
block vars
	- var title = 'Мои покупки';
block header
	include includes/header.pug
block content
	include includes/content-purchases.pug
block footer
	include includes/footer.pug     
              
