extends layout.pug
block vars
	- var title = 'Отправить открытку';
block header
	include includes/header.pug
block content
	include includes/content-sendpostcard.pug
block footer
	include includes/footer.pug     
              
