extends layout.pug
block vars
	- var title = 'Страница услуги';
block header
	include includes/header.pug
block content
	include includes/content-services-inner.pug
block footer
	include includes/footer.pug     
              
