extends layout.pug
block vars
	- var title = 'Услуги';
block header
	include includes/header.pug
block content
	include includes/content-services.pug
block footer
	include includes/footer.pug     
              
