extends layout.pug
block vars
	- var title = 'Карточка пользователя';
block header
	include includes/header.pug
block content
	include includes/content-user-profile.pug
block footer
	include includes/footer.pug     
              
