.main-slider.owl-carousel
    .main-slider_item
        img(src="img/sl2.jpg")
        .main-slider_hover
            .main-slider_inner
                p Блины и открытки
                span большая февральская рассылка </br>
                a(href="#").btn подробнее
            
            

    .main-slider_item
        img(src="img/sl2.jpg")
        .main-slider_hover
            .main-slider_inner
                p Блины и открытки
                span большая февральская рассылка </br>
                a(href="#").btn подробнее
            
            

    .main-slider_item
        img(src="img/sl2.jpg")
        .main-slider_hover
            .main-slider_inner
                p Блины и открытки
                span большая февральская рассылка </br>
                a(href="#").btn подробнее
            
            

    .main-slider_item
        img(src="img/sl2.jpg")
        .main-slider_hover
            .main-slider_inner
                p Блины и открытки
                span большая февральская рассылка </br>
                a(href="#").btn подробнее
.container
    .icon-slider.owl-carousel
        .icon-slider_img
            a(href="img/s1.jpg" data-fancybox="group-img")
                img(src="img/s1.jpg")
        .icon-slider_img
            a(href="img/s2.jpg" data-fancybox="group-img")
                img(src="img/s2.jpg")
        .icon-slider_img
            a(href="img/s3.jpg" data-fancybox="group-img")
                img(src="img/s3.jpg")
        .icon-slider_img
            a(href="img/s4.jpg" data-fancybox="group-img")
                img(src="img/s4.jpg")
        .icon-slider_img
            a(href="img/s5.jpg" data-fancybox="group-img")
                img(src="img/s5.jpg")
        .icon-slider_img
            a(href="img/s6.jpg" data-fancybox="group-img")
                img(src="img/s6.jpg")
        .icon-slider_img
            a(href="img/s7.jpg" data-fancybox="group-img")
                img(src="img/s7.jpg")
        .icon-slider_img
            a(href="img/s8.jpg" data-fancybox="group-img")
                img(src="img/s8.jpg")



include ./postcrossing.pug              
