.main-slider.owl-carousel
    .main-slider_item
        img(src="img/sl2.jpg")
        .main-slider_hover
            .main-slider_inner
                p Блины и открытки
                span большая февральская рассылка </br>
                a(href="#").btn подробнее
            
            

    .main-slider_item
        img(src="img/sl2.jpg")
        .main-slider_hover
            .main-slider_inner
                p Блины и открытки
                span большая февральская рассылка </br>
                a(href="#").btn подробнее
            
            

    .main-slider_item
        img(src="img/sl2.jpg")
        .main-slider_hover
            .main-slider_inner
                p Блины и открытки
                span большая февральская рассылка </br>
                a(href="#").btn подробнее
            
            

    .main-slider_item
        img(src="img/sl2.jpg")
        .main-slider_hover
            .main-slider_inner
                p Блины и открытки
                span большая февральская рассылка </br>
                a(href="#").btn подробнее
            
                 
