@font-face {
    font-family: 'Cambria';
    src: url('Cambria-Bold.eot');
    src: url('Cambria-Bold.eot?#iefix') format('embedded-opentype'),
        url('Cambria-Bold.woff') format('woff'),
        url('Cambria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

