.cloud-wrap
    .cloud-animate
        img(src="img/cont-cloud.png") 
                            
    .container
        .order.order-payinfo.box-shadow.wow.slideInRight(data-wow-duration="1s")
            .order-item
                button.close_btn
                .order-top
                    p.order-title Оформление заказа
                    a(href="#").order-article.order-article_link Вернуться к вводу персональных данных
                .order-inner.order-payinfo_inner
                    .order-inner_item
                        p.order-inner_title Способ доставки
                        .order-shipping_about
                            .order-shipping
                                .order-shipping_item
                                    img(src="img/rus-pochta.png")
                                .order-shipping_item
                                    p.order-shipping_article Доставка осуществляется <br>Почтой России
                                    .order-link.order-toggle Информация о стоимости
                            .order-shipping_toggle
                                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        
                        p.order-inner_title Способ оплаты
                        ul.order-radio.order-radio_payment
                            li
                                input(type="radio" name="choose-action").order-radio_inp#choose-action_left
                                label(for="choose-action_left").order-radio_label Наложенный платеж
                            li
                                input(type="radio" name="choose-action" checked).order-radio_inp#choose-action_right
                                label(for="choose-action_right").order-radio_label.pt
                                    |Безналичный расчет<br>
                                    span Данные карты указываются
                                    <br>
                                    a(href="#").order-link на сайте банка
                                      

                            
                    .order-inner_item
                        .order-table_wrap
                            table.order-table
                                tr.order-table_title
                                    th
                                        |Наименование
                                    th
                                        |Количество
                                    th
                                        |Цена
                                tr
                                    th
                                        .order-table_item
                                            .order-table_img.box-shadow
                                                img(src="img/cat-img.png" linkpostcard="product.html" alt="product.html").minimized
                                            .order-table_nameproduct Название товара        
                                    th
                                        span.order-table_count 4
                                    th
                                        .order-table_price 3 374 р
                                            .order-table_delete
                                            
                                        
                                tr
                                    th
                                        .order-table_item
                                            .order-table_img.box-shadow
                                                img(src="img/cat-img.png" linkpostcard="product.html" alt="product.html").minimized
                                            .order-table_nameproduct Название товара        
                                    th
                                        span.order-table_count 4
                                    th
                                        .order-table_price 3 374 р
                                            .order-table_delete
                                            
                                        
                                tr
                                    th
                                        .order-table_item
                                            .order-table_img.box-shadow
                                                img(src="img/cat-img.png" linkpostcard="product.html" alt="product.html").minimized
                                            .order-table_nameproduct Название товара        
                                    th
                                        span.order-table_count 4
                                    th
                                        .order-table_price 3 374р
                                            .order-table_delete
                                            
                                                                                    
                            .order-table_bottom
                                button.order-table_btn Показать все
                            .order-total
                                p 3 товара на сумму
                                p.order-total_price 3 859 р
                                
                                            
                .order-btn_wrap       
                    button.btn.btn-red.order-btn Оформить заказ
            
