.main-slider.owl-carousel.wow.slideInRight(data-wow-duration="1s")
    .main-slider_item
        img(src="img/sl2.jpg")
        .main-slider_hover
            .main-slider_inner
                p Блины и открытки
                b большая февральская рассылка </br>
                a(href="#" data-text='Подробнее').btn.h-button.btn-red
                    span П
                    span е
                    span р
                    span е
                    span й
                    span т
                    span и
            
    .main-slider_item
        img(src="img/sl3.jpg")
        .main-slider_hover
            .main-slider_inner
                p Блины и открытки
                b большая февральская рассылка </br>
                a(href="#" data-text='Подробнее').btn.h-button.btn-red
                    span П
                    span е
                    span р
                    span е
                    span й
                    span т
                    span и
            
    .main-slider_item
        img(src="img/sl4.png")
        .main-slider_hover
            .main-slider_inner
                p Блины и открытки
                b большая февральская рассылка </br>
                a(href="#" data-text='Подробнее').btn.h-button.btn-red
                    span П
                    span е
                    span р
                    span е
                    span й
                    span т
                    span и
            
            

    .main-slider_item
        img(src="img/sl1.png")
        .main-slider_hover
            .main-slider_inner
                p Блины и открытки
                b большая февральская рассылка </br>
                a(href="#" data-text='Подробнее').btn.h-button.btn-red
                    span П
                    span е
                    span р
                    span е
                    span й
                    span т
                    span и

.cloud-wrap
    .cloud-animate.cloud-main
        img(src="img/cont-cloud.png")
    .container.position-r.wow.slideInRight(data-wow-duration="2s")
        .icon-slider.owl-carousel
            .icon-slider_img
                a(href="img/s1.jpg" data-fancybox="group-img")
                    img(src="img/s1.jpg")
            .icon-slider_img
                a(href="img/s2.jpg" data-fancybox="group-img")
                    img(src="img/s2.jpg")
            .icon-slider_img
                a(href="img/s3.jpg" data-fancybox="group-img")
                    img(src="img/s3.jpg")
            .icon-slider_img
                a(href="img/s4.jpg" data-fancybox="group-img")
                    img(src="img/s4.jpg")
            .icon-slider_img
                a(href="img/s5.jpg" data-fancybox="group-img")
                    img(src="img/s5.jpg")
            .icon-slider_img
                a(href="img/s6.jpg" data-fancybox="group-img")
                    img(src="img/s6.jpg")
            .icon-slider_img
                a(href="img/s7.jpg" data-fancybox="group-img")
                    img(src="img/s7.jpg")
            .icon-slider_img
                a(href="img/s8.jpg" data-fancybox="group-img")
                    img(src="img/s8.jpg")
        a(href="#").icon-slider_link Перейти в галерею

    .ether
        .ether-inner.container.wow.slideInRight(data-wow-duration="2s" data-wow-offset="15")
            .ether-adress.ether-inner_item
                .ether-adress_inner
                    ul
                        li
                            input(type="radio" name="chooseType" id="chooseType-1" checked).choosetype
                            label(for="chooseType-1") Поздравить с днем рождения
                        li
                            input(type="radio" name="chooseType" id="chooseType-2").choosetype
                            label(for="chooseType-2") Получить случайный адрес
                        li
                            .index-img
                                img(src="img/index.png")
                        li
                            
                            a(href="#").btn.btn-red.ether-adress_btn.tooltip-wrap Получить адрес
                                .tooltip-box.tooltip-forum.tooltip-forum_inner
                                    .tooltip-article
                                        .tooltip-article_inner
                                            |Для того что бы оставить комментарий или поставить отметку необходимо 
                                            span зарегистрироваться   


            .ether-online.ether-inner_item
                .ether-online_title Мы в эфире
                .ether-slider.owl-carousel
                    .item
                        .item-inner
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473

                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
              
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473

                                                      
                    .item
                        .item-inner
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473

                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
              
                    .item
                        .item-inner
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473

                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
                            p 
                                a(href="#") Loginlogin473 
                                |отправил открытку  
                                a(href="#") Loginlogin473
              
                           
    .container
        .contarticle.position-r.wow.slideInRight(data-wow-duration="2s" data-wow-offset="15")
            h2.main-title ЧТО ЭТО ЗА САЙТ?
            .contarticle-article.main-text
                p Проект, созданный для возможности получения открыток со всего мира; возник подвлиянием буккроссинга. В основе принципа обмена открытками лежит единая база всех участников проекта, а также механизм выдачи адресов, направленный на то, чтобы разница между отправленными и полученными открытками у каждого участника была минимальной. При этом в посткроссинге имеет место система непрямого обмена, то есть отправляя открытки одним пользователям, участник получает их от других.
                p На апрель 2017 года в проекте было зарегистрировано более 676 000 человек из 208 стран[3], 2 июня 2015 года была получена 30-миллионная открытка[4], а 13 февраля 2017 года — 40-миллионная[5] 


    .container.wow.slideInRight(data-wow-duration="2s" data-wow-offset="15").position-r
        .advantage
            .advantage-line
                img(src="img/line-main.png")
            .advantage-inner
                .advantage-item.advantage-first
                    .advantage-img
                        img(src="img/adv1.png")
                    .advantage-counter
                        .advantage-counter_num 351 498
                        .advantage-article Открыток
                                
                .advantage-item.advantage-next
                    .advantage-img
                        img(src="img/adv2.png")
                    .advantage-counter
                        .advantage-article Пройдено
                        .advantage-counter_num 265 287 538 
                            span км
                            
                .advantage-item.advantage-last
                    .advantage-img
                        img(src="img/adv3.png")
                    .advantage-counter
                        .advantage-counter_num 766 511
                        .advantage-article Членов 
                
                


include ./postcrossing.pug              
