.container
    .product.box-shadow.wow.slideInRight(data-wow-duration="1s")
        .breadcrumbs
            a(href="#") Каталог
            a(href="") Название категории
        .product-inner
            .product-item
                .product-slider
                    .fotorama(data-nav="thumbs")
                        img(src="img/product-sl.jpg")
                        img(src="img/product-sl.jpg")
                        img(src="img/product-sl.jpg")
                .product-info
                    .product-title
                        h1.main-title Название товара
                        span Подзаголовок

                    .product-price.action-price
                        .product-old_price 
                            strike 4000 р
                        .product-main_price 
                            span 4395 
                            |р

                    .product-count
                        .product-count_item
                            .switch-count
                                span.switch-button -
                                input(type="text" value="1" disabled="disabled").count-field#quantity  
                                span.switch-button +
                            
                        .product-count_item
                            button.product-addbasket_btn Добавить в корзину

                    .product-preview
                        p Краткое описание/характеристики:
                        p enean commodo ligula eget dolor. Aenean massa. Cum turientmontes, natoque penatibus et magnis dis parturientmontes, turientmontes,turien ridiculus mus. Donec quam felis, ultricies nec, pellent turientmontes, pretium quis, sem. Nulla Cum sociis natoque penatibus turientmon magnis dis parturientmontes, nascetur ridiculus mus.turientmontes, quam felis, ultricies nec, pellentesque eu, pretium turientmontes

            .product-article
                h2.main-title                                                   Описание
                p enean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. parturientоооont Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla Cum sociis natoque penatibus et magnis dis parturient montes, parturient mo nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla Donec quam felis, ultricies nec, pellente parturient mont sque eu, pretium quis, sem. Nulla Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, parturient ultricies nec, pellentesque eu, pretium quis, sem. Nulla                                                                                                                                     
