.border-wrap
    .container
        .contacts.box-shadow.wow.slideInRight(data-wow-duration="2s")
            .contacts-item
                .contacts-img
                    img(src="img/contact-letter.png")
            .contacts-item
                .contacts-title
                    p Контакты
                    .profile-social
                        span Соц. сети
                        ul
                           li
                               a(href="#").profile-social_link
                                   img(src="img/vk-ico.png")
                           li 
                               a(href="#").profile-social_link
                                   img(src="img/inst-ico.png")
                
                .contacts-mess                       
                    a(href="tel:89222222222").contacts-phone 89222222222
                    a(href="mailto:pochta@pochta.ru").contacts-email pochta@pochta.ru                       
                
                .contacts-info
                    ul.contacts-info_list
                        li
                            p Название компании
                            .contacts-info_field
                                |Федеральная Лига Посткроссеров
                        li
                            .contacts-info_field
                                |Россия
                        li
                            .contacts-info_field
                                |Свердловская область
                        li
                            .contacts-info_field
                                |Екатеринбург
                            
                    ul.contacts-info_list
                        li
                            .contacts-info_field
                                |Фамилия Имя Отчество
                        li
                            .contacts-info_field
                                |773301001
                        li
                            .contacts-info_field
                                |77333669490
                        li
                            .contacts-info_field
                                |5087746136440
                    
                
