.container
    .katalog.box-shadow.wow.slideInRight(data-wow-duration="2s")
        .katalog-title
            h2 Каталог
        ul.katalog-list
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание    
