.container
    .katalog.product-cat.box-shadow.wow.slideInRight(data-wow-duration="2s")
        .breadcrumbs
            a(href="#") Каталог
        .katalog-title.product-cat_title
            h2 Название категории
        ul.katalog-list
            li
                .katalog-list_img.product-cat_img
                    img(src="img/cat-img.png")
                    button.product-addbasket_btn Добавить в корзину
                .product-count.product-cat_count
                    .product-count_item
                        .switch-count.product-cat_counter
                            span.switch-button -
                            input(type="text" value="1" disabled="disabled").count-field.quantity  
                            span.switch-button +
                        
                    .product-count_item
                        p.product-cat_name Название товара
                        p.product-cat_date 20.06.19 17:27
                        .product-cat_price.product-cat_price__action 
                            .product-cat_price_main
                                input(type="hidden" value="3439").current-price
                                span 3439 
                                |р
                            .product-cat_price_old 
                                strike 4000 р

            li
                .katalog-list_img.product-cat_img
                    img(src="img/cat-img.png")
                    button.product-addbasket_btn Добавить в корзину
                .product-count.product-cat_count
                    .product-count_item
                        .switch-count.product-cat_counter
                            span.switch-button -
                            input(type="text" value="1" disabled="disabled").count-field.quantity  
                            span.switch-button +
                        
                    .product-count_item
                        p.product-cat_name Название товара
                        p.product-cat_date 20.06.19 17:27
                        .product-cat_price.product-cat_price__action 
                            .product-cat_price_main
                                input(type="hidden" value="3439").current-price
                                span 3439 
                                |р
                            .product-cat_price_old 
                                strike 4000 р
                                
            li
                .katalog-list_img.product-cat_img
                    img(src="img/cat-img.png")
                    button.product-addbasket_btn Добавить в корзину
                .product-count.product-cat_count
                    .product-count_item
                        .switch-count.product-cat_counter
                            span.switch-button -
                            input(type="text" value="1" disabled="disabled").count-field.quantity  
                            span.switch-button +
                        
                    .product-count_item
                        p.product-cat_name Название товара
                        p.product-cat_date 20.06.19 17:27
                        .product-cat_price.product-cat_price__action 
                            .product-cat_price_main
                                input(type="hidden" value="3439").current-price
                                span 3439 
                                |р
                            .product-cat_price_old 
                                strike 4000 р

            li
                .katalog-list_img.product-cat_img
                    img(src="img/cat-img.png")
                    button.product-addbasket_btn Добавить в корзину
                .product-count.product-cat_count
                    .product-count_item
                        .switch-count.product-cat_counter
                            span.switch-button -
                            input(type="text" value="1" disabled="disabled").count-field.quantity  
                            span.switch-button +
                        
                    .product-count_item
                        p.product-cat_name Название товара
                        p.product-cat_date 20.06.19 17:27
                        .product-cat_price.product-cat_price__action 
                            .product-cat_price_main
                                input(type="hidden" value="3439").current-price
                                span 3439 
                                |р
                            .product-cat_price_old 
                                strike 4000 р
                                
            li
                .katalog-list_img.product-cat_img
                    img(src="img/cat-img.png")
                    button.product-addbasket_btn Добавить в корзину
                .product-count.product-cat_count
                    .product-count_item
                        .switch-count.product-cat_counter
                            span.switch-button -
                            input(type="text" value="1" disabled="disabled").count-field.quantity  
                            span.switch-button +
                        
                    .product-count_item
                        p.product-cat_name Название товара
                        p.product-cat_date 20.06.19 17:27
                        .product-cat_price.product-cat_price__action 
                            .product-cat_price_main
                                input(type="hidden" value="3439").current-price
                                span 3439 
                                |р
                            .product-cat_price_old 
                                strike 4000 р

            li
                .katalog-list_img.product-cat_img
                    img(src="img/cat-img.png")
                    button.product-addbasket_btn Добавить в корзину
                .product-count.product-cat_count
                    .product-count_item
                        .switch-count.product-cat_counter
                            span.switch-button -
                            input(type="text" value="1" disabled="disabled").count-field.quantity  
                            span.switch-button +
                        
                    .product-count_item
                        p.product-cat_name Название товара
                        p.product-cat_date 20.06.19 17:27
                        .product-cat_price.product-cat_price__action 
                            .product-cat_price_main
                                input(type="hidden" value="3439").current-price
                                span 3439 
                                |р
                            .product-cat_price_old 
                                strike 4000 р
                                
            li
                .katalog-list_img.product-cat_img
                    img(src="img/cat-img.png")
                    button.product-addbasket_btn Добавить в корзину
                .product-count.product-cat_count
                    .product-count_item
                        .switch-count.product-cat_counter
                            span.switch-button -
                            input(type="text" value="1" disabled="disabled").count-field.quantity  
                            span.switch-button +
                        
                    .product-count_item
                        p.product-cat_name Название товара
                        p.product-cat_date 20.06.19 17:27
                        .product-cat_price.product-cat_price__action 
                            .product-cat_price_main
                                input(type="hidden" value="3439").current-price
                                span 3439 
                                |р
                            .product-cat_price_old 
                                strike 4000 р

            li
                .katalog-list_img.product-cat_img
                    img(src="img/cat-img.png")
                    button.product-addbasket_btn Добавить в корзину
                .product-count.product-cat_count
                    .product-count_item
                        .switch-count.product-cat_counter
                            span.switch-button -
                            input(type="text" value="1" disabled="disabled").count-field.quantity  
                            span.switch-button +
                        
                    .product-count_item
                        p.product-cat_name Название товара
                        p.product-cat_date 20.06.19 17:27
                        .product-cat_price.product-cat_price__action 
                            .product-cat_price_main
                                input(type="hidden" value="3439").current-price
                                span 3439 
                                |р
                            .product-cat_price_old 
                                strike 4000 р
