.container
    .forum-top
        .forum-top_item.box-shadow
            p.main-title Форум
            .forum-top_date
                p Читать сообщения за период
                ul.forum-top_date__item
                    li
                        input(type="date").inp
                    li    
                        input(type="date").inp    
        .forum-top_item
            a(href="#").notread-themes_btn.sortthemes_btn Показать <br>непрочитанные темы   
            a(href="#").read-themes_btn.sortthemes_btn Показать <br>прочитанные темы 

    .forum-themes.box-shadow
        .forum-themes_top
            .forum-themes_top__item
                |Статус                 
            .forum-themes_top__item
                |Название заголовка                 
            .forum-themes_top__item
                a(href="#").showalltheme-btn.sortthemes_btn Показать все темы  
        .forum-themes_inner                       
            .forum-article
                .forum-article_item.forum-article_left
                    .forum-article_icon
                        img(src="img/box-icon-2.png")
                    .forum-article_like
                        .forum-article_likecount
                            span 79       
                        .forum-article_likeicon.like-icon_blue    
                    .forum-article_messcount
                        p 30
                        p сообщений                    
                .forum-article_item.forum-article_right                     
                    a(href="#").main-title Полное название темы                 
                    .forum-article_date 05.06.2019 г          
                    .forum-article_preview Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.          
            .forum-article
                .forum-article_item.forum-article_left
                    .forum-article_icon
                        img(src="img/box-icon.png")
                    .forum-article_like
                        .forum-article_likecount
                            span 79       
                        .forum-article_likeicon.like-icon_red    
                    .forum-article_messcount
                        p 30
                        p сообщений                    
                .forum-article_item.forum-article_right                     
                    a(href="#").main-title Полное название темы                 
                    .forum-article_date 05.06.2019 г          
                    .forum-article_preview Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            .forum-article
                .forum-article_item.forum-article_left
                    .forum-article_icon
                        img(src="img/box-icon-2.png")
                    .forum-article_like
                        .forum-article_likecount
                            span 79       
                        .forum-article_likeicon.like-icon_grey   
                    .forum-article_messcount
                        p 30
                        p сообщений                    
                .forum-article_item.forum-article_right                     
                    a(href="#").main-title Полное название темы                 
                    .forum-article_date 05.06.2019 г          
                    .forum-article_preview Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.            
            .forum-article
                .forum-article_item.forum-article_left
                    .forum-article_icon
                        img(src="img/box-icon-2.png")
                    .forum-article_like
                        .forum-article_likecount
                            span 79       
                        .forum-article_likeicon.like-icon_blue    
                    .forum-article_messcount
                        p 30
                        p сообщений                    
                .forum-article_item.forum-article_right                     
                    a(href="#").main-title Полное название темы                 
                    .forum-article_date 05.06.2019 г          
                    .forum-article_preview Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.          
            .forum-article
                .forum-article_item.forum-article_left
                    .forum-article_icon
                        img(src="img/box-icon.png")
                    .forum-article_like
                        .forum-article_likecount
                            span 79       
                        .forum-article_likeicon.like-icon_red    
                    .forum-article_messcount
                        p 30
                        p сообщений                    
                .forum-article_item.forum-article_right                     
                    a(href="#").main-title Полное название темы                 
                    .forum-article_date 05.06.2019 г          
                    .forum-article_preview Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            .forum-article
                .forum-article_item.forum-article_left
                    .forum-article_icon
                        img(src="img/box-icon-2.png")
                    .forum-article_like
                        .forum-article_likecount
                            span 79       
                        .forum-article_likeicon.like-icon_grey   
                    .forum-article_messcount
                        p 30
                        p сообщений                    
                .forum-article_item.forum-article_right                     
                    a(href="#").main-title Полное название темы                 
                    .forum-article_date 05.06.2019 г          
                    .forum-article_preview Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.            
            .forum-article
                .forum-article_item.forum-article_left
                    .forum-article_icon
                        img(src="img/box-icon-2.png")
                    .forum-article_like
                        .forum-article_likecount
                            span 79       
                        .forum-article_likeicon.like-icon_blue    
                    .forum-article_messcount
                        p 30
                        p сообщений                    
                .forum-article_item.forum-article_right                     
                    a(href="#").main-title Полное название темы                 
                    .forum-article_date 05.06.2019 г          
                    .forum-article_preview Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.          
            .forum-article
                .forum-article_item.forum-article_left
                    .forum-article_icon
                        img(src="img/box-icon.png")
                    .forum-article_like
                        .forum-article_likecount
                            span 79       
                        .forum-article_likeicon.like-icon_red    
                    .forum-article_messcount
                        p 30
                        p сообщений                    
                .forum-article_item.forum-article_right                     
                    a(href="#").main-title Полное название темы                 
                    .forum-article_date 05.06.2019 г          
                    .forum-article_preview Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            .forum-article
                .forum-article_item.forum-article_left
                    .forum-article_icon
                        img(src="img/box-icon-2.png")
                    .forum-article_like
                        .forum-article_likecount
                            span 79       
                        .forum-article_likeicon.like-icon_grey   
                    .forum-article_messcount
                        p 30
                        p сообщений                    
                .forum-article_item.forum-article_right                     
                    a(href="#").main-title Полное название темы                 
                    .forum-article_date 05.06.2019 г          
                    .forum-article_preview Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.            
            .forum-article
                .forum-article_item.forum-article_left
                    .forum-article_icon
                        img(src="img/box-icon-2.png")
                    .forum-article_like
                        .forum-article_likecount
                            span 79       
                        .forum-article_likeicon.like-icon_blue    
                    .forum-article_messcount
                        p 30
                        p сообщений                    
                .forum-article_item.forum-article_right                     
                    a(href="#").main-title Полное название темы                 
                    .forum-article_date 05.06.2019 г          
                    .forum-article_preview Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.          
            .forum-article
                .forum-article_item.forum-article_left
                    .forum-article_icon
                        img(src="img/box-icon.png")
                    .forum-article_like
                        .forum-article_likecount
                            span 79       
                        .forum-article_likeicon.like-icon_red    
                    .forum-article_messcount
                        p 30
                        p сообщений                    
                .forum-article_item.forum-article_right                     
                    a(href="#").main-title Полное название темы                 
                    .forum-article_date 05.06.2019 г          
                    .forum-article_preview Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            .forum-article
                .forum-article_item.forum-article_left
                    .forum-article_icon
                        img(src="img/box-icon-2.png")
                    .forum-article_like
                        .forum-article_likecount
                            span 79       
                        .forum-article_likeicon.like-icon_grey   
                    .forum-article_messcount
                        p 30
                        p сообщений                    
                .forum-article_item.forum-article_right                     
                    a(href="#").main-title Полное название темы                 
                    .forum-article_date 05.06.2019 г          
                    .forum-article_preview Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.            
            .forum-article
                .forum-article_item.forum-article_left
                    .forum-article_icon
                        img(src="img/box-icon-2.png")
                    .forum-article_like
                        .forum-article_likecount
                            span 79       
                        .forum-article_likeicon.like-icon_grey   
                    .forum-article_messcount
                        p 30
                        p сообщений                    
                .forum-article_item.forum-article_right                     
                    a(href="#").main-title Полное название темы                 
                    .forum-article_date 05.06.2019 г          
                    .forum-article_preview Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.                         
        .forum-themes_nav
            .forum-themes_nav__left
            .forum-themes_nav__right
                .forum-pagination
                    a(href="#").forum-pagination_left 
                    a(href="#").curent 1
                    a(href="#") 2
                    a(href="#") 3
                    a(href="#") 4
                    a(href="#") 5
                    a(href="#") 6 
                    a(href="#") 7
                    a(href="#").forum-pagination_right
                    a(href="#").forum-pagination_next
                        |Вперед                                                                                                                    
