.cloud-wrap
    .cloud-animate
        img(src="img/cont-cloud.png")
    .container
        .news-post.box-shadow
            .breadcrumbs
                a(href="#") Почтовые новости
                a(href="") Заголовок новости
            .news-post_article
                .news-post_top
                    .news-post_top__item
                        .news-post_img__big
                            .news-post_img__inner.box-shadow
                                a(href="img/sl-product.jpg" data-fancybox="group-img")
                                    img(src="img/sl-product.jpg")
                            .news-post_img__article commodo ligula eget dolor     
                    .news-post_top__item
                        h1.news-post_title Заголовок новости
                        .news-post_date 20.06.19 17:27
                        p enean commodo ligula eget dolor. Aenean massa. Cum natoque penatibus et magnis dis parturientmontes, arturientmontes, ridiculus mus. Donec quam felis, ultricies nec, pellent arturientmontes, pretium quis, sem. Nulla Cum sociis natoque penatibusarturientmontes, magnis dis parturientmontes, nascetur ridiculus mus.arturientmontes, quam felis, ultricies nec, pellentesque eu, pretium quisarturientmontes
                        
                        p enean commodo ligula eget dolor. Aenean massa. Cum  ean massa. Cum natoque penatibus et magnis dis parturientmontes, ean massaваCum ridiculus mus. Donec quam felis, ultricies nec, pellent ean massaааCum pretium quis, sem. Nulla Cum sociis natoque penatibusean massa. Cum magnis dis parturientmontes, nascetur ridiculus mus.ean massaаваCum quam felis, ultricies nec, pellentesque eu, pretium quisean massaааum
                        
                        p pretium quis, sem. Nulla Cum sociis natoque penatibusean massa. Cum magnis dis parturientmontes, nascetur ridiculus mus.ean massааааum quam felis, ultricies nec, pellentesque eu, pretium quisean massa. Cum
                .news-post_bottom
                    h2.news-post_title__inner Описание
                    p enean commodo ligula eget dolor. Aenean massa. Cum natoque penatibus et magnis dis parturientmontes, arturientmontes, ridiculus mus. Donec quam felis, ultricies nec, pellent arturientmontes, pretium quis, sem. Nulla Cum sociis natoque penatibusarturientmontes, magnis dis parturientmontes, nascetur ridiculus mus.arturientmontes, quam felis, ultricies nec, pellentesque eu, pretium quisarturientmontes    
                    
                    .news-post_item
                        .news-post_item__inner
                            .news-post_img
                                .news-post_img__inner.box-shadow
                                    a(href="img/sl-product.jpg" data-fancybox="group-img")
                                        img(src="img/star-letter-big.png")
                                .news-post_img__article commodo ligula eget dolor  
                            .news-post_img
                                .news-post_img__inner.box-shadow
                                    a(href="img/sl-product.jpg" data-fancybox="group-img")
                                        img(src="img/star-letter-big.png")
                                .news-post_img__article commodo ligula eget dolor  
                        .news-post_item__inner
                            p enean commodo ligula eget dolor. Aenean massa. Cum natoque penatibus et magnis dis parturientmontes, arturientmontes, ridiculus mus. Donec quam felis, ultricies nec, pellent arturientmontes, pretium quis, sem. Nulla Cum sociis natoque penatibusarturientmontes, magnis dis parturientmontes, nascetur ridiculus mus.arturientmontes, quam felis, ultricies nec, pellentesque eu, pretium quisarturientmontes
                            
                            p enean commodo ligula eget dolor. Aenean massa. Cum natoque penatibus et magnis dis parturientmontes, arturientmontes, ridiculus mus. Donec quam felis, ultricies nec, pellent arturientmontes, pretium quis, sem. Nulla Cum sociis natoque penatibusarturientmontes, magnis dis parturientmontes, nascetur ridiculus mus.arturientmontes, quam felis, ultricies nec, pellentesque eu, pretium quisarturientmontes  
                            
                    p enean commodo ligula eget dolor. Aenean massa. Cum natoque penatibus et magnis dis parturientmontes, arturientmontes, ridiculus mus. Donec quam felis, ultricies nec, pellent arturientmontes, pretium quis, sem. Nulla Cum sociis natoque penatibusarturientmontes, magnis dis parturientmontes, nascetur ridiculus mus.arturientmontes, quam felis, ultricies nec, pellentesque eu, pretium quisarturientmontes 
