
.border-wrap
    .cloud-wrap
        .cloud-animate
            img(src="img/cont-cloud.png")
    .container
        .cabinet-top.box-shadow.wow.slideInRight(data-wow-duration="1s")
            .cabinet-top_item
                label.cabinet-ava_wrap(for="ava-file")
                    .cabinet-ava_border
                    .cabinet-ava
                        img(src="img/ava-img.png")
                ul.cabinet-top_btn
                    li
                        input(type="file")#ava-file.ava-file
                        label(for="ava-file") Изменить фото
                        
                    li
                        a(href="#").delete-ava Удалить фото
                    li        
                        button.btn.btn-red.sendpostcard-btn Отправить открытку
                    li
                        button.btn.regpostcard-btn Зарегистрировать открытку    


            .cabinet-top_item
                .cabinet-top_title
                    .cabinet-top_title__item
                        h2.main-title Личный кабинет
                        p.cabinet-visit_date Послений визит 
                            span 03.12.2018
                            |г
                    .cabinet-top_title__item
                        a(href="#").cabinet-top_basket Мои покупки

                .cabinet-top_person
                    ul.cabinet-top_person_left
                        li
                            input(type="text" value="Иванов Семен Петрович").inp
                        li
                            input(type="text" placeholder="Логин").inp
                        li
                            label(for="datebirth")
                            input(type="text" placeholder="XX.XX.XXXX").inp#datebirth
                        li
                            button.delete-account.md-trigger(data-modal="modal-deleteAcc") Удалить аккаунт        
                    ul.cabinet-top_person_right
                        li
                            textarea.cabinet-top_textarea(placeholder="О себе")
                        li
                            ul.cabinet-top_addphoto
                                li
                                    .cabinet-img_min
                                    button.delete-photo
                                li
                                    .cabinet-img_min
                                    button.delete-photo
                                li
                                    .cabinet-img_min
                                    button.delete-photo
                                li
                                    input(type="file").min-photo_add#min-photo_add
                                    label(for="min-photo_add") Прикрепить фото
                        li
                            button.btn.btn-red.save-selfinfo Сохранить                    
.container
    .cabinet-middle.box-shadow.wow.slideInRight(data-wow-duration="2s")
        .cabinet-middle_inner
            .cabinet-middle_inner__item
                p.cabinet-middle_title.main-title Местоположение и адрес
                ul.adress-box
                    li
                        label(for="street-inp") Улица
                        .adress-box_inp.adress-box_arrow
                            input(type="text" placeholder="Улица").inp#street-inp
                    li
                        label(for="house-inp") Дом, Корпус, Квартира/Комната
                        .adress-box_inp.adress-box_inner
                            .adress-box_inp
                                input(type="text" placeholder="Дом").inp#house-inp
                            .adress-box_inp
                                input(type="text" placeholder="Корпус").inp
                            .adress-box_inp
                                input(type="text" placeholder="Кв/Комната").inp
                    li
                        label(for="city-inp") Город/Населеный пункт
                        .adress-box_inp.adress-box_arrow
                            input(type="text" placeholder="Город/Населеный пункт").inp#city-inp            
                    li
                        label(for="rayon-inp") Район/Область
                        .adress-box_inp.adress-box_arrow
                            input(type="text" placeholder="Район/Область").inp#rayon-inp
                    li
                        label(for="country-inp") Страна
                        .adress-box_inp.adress-box_arrow
                            input(type="text" placeholder="Страна").inp#country-inp
                    li
                        label(for="index-inp") Индекс
                        .adress-box_inp
                            input(type="text" placeholder="XXX XXX").inp#index-inp
                            button(type="submit").btn.btn-red.adress-box_btn Сохранить
            .cabinet-middle_inner__item
                p.cabinet-middle_title.main-title Смена пароля/e-mail
                ul.cabinet-middle_changepass
                    li
                        input(type="text" placeholder="Ввести старые данные").inp
                    li
                        input(type="text" placeholder="Ввести новые данные").inp
                    li
                        input(type="text" placeholder="Ввести новые данные еще раз").inp
                    li
                        button.btn.changepass_btn.btn-opacity Обновить данные
                p.cabinet-middle_title.main-title Добавить соц сети            
                ul.cabinet-middle_social
                    li
                        .social-imgbox
                            .cabinet-middle_social__img
                                img(src="img/vk-big.png")
                            .cabinet-middle_social__inp
                                input(type="text").inp
                    li
                        p.choose-social_title Выберите соц сеть
                        ul.choose-social
                            li.choose-social_inst
                                img(src="img/inst-icon.png")
                            li.choose-social_vk
                                img(src="img/vk-icon.png")
        .cabinet-middle_privacy
            p 
                a(href="#") Условиями обслуживания 
                |и 
                a(href="#") Политикой конфиденциальности. 
include ./postcard-info.pug
