.border-wrap
    .container
        .foruminner-head.box-shadow.wow.slideInRight(data-wow-duration="1s")
            .foruminner-head_item
                p.foruminner-head_title Форум
            .foruminner-head_item
                a(href="#").foruminner-head_link Вернуться на страницу форума
.border-wrap
    .cloud-wrap
        .cloud-animate
            img(src="img/cont-cloud.png")
    .container
        .foruminner.box-shadow.wow.slideInRight(data-wow-duration="2s")
            .foruminner-top
                .foruminner-title
                    p Название темы
                    button.toggle-article Свернуть описание               
                .foruminner-article
                    .foruminner-article_item
                        .foruminner-imgbox
                            a(href="#").foruminner-img 
                                img(src="img/ava-forum2.png")
                            p.foruminner-city г.Москва           
                    .foruminner-article_item
                        .foruminner-article_top       
                            a(href="#").foruminner-nick Kari70
                            .foruminner-date 5.06.2019 г
                        .foruminner-article_text
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.Lorem ipsum dolor sit amet, consectetuer      
                            .forum-article_like.foruminner-like.foruminner-article_like
                                .forum-article_likecount
                                    span 79       
                                .forum-article_likeicon.like-icon_blue
                                .tooltip-box.tooltip-forum.tooltip-forum_inner
                                    .tooltip-article
                                        .tooltip-article_inner
                                            |Для того что бы оставить комментарий или поставить отметку необходимо 
                                            span зарегистрироваться   

                .foruminner-top_comment
                    .foruminner-top_comment__item
                        label
                            textarea(placeholder="Комментировать")
                        button.btn-blue.comment-btn Комментировать


            .foruminner-bottom
                .foruminner-bottom_item
                    .foruminner-bottom_inner
                        .foruminner-bottom_imgbox
                            .foruminner-bottom_imgbox__item
                                a(href="#").foruminner-img
                                    img(src="img/ava-forum2.png")
                                .foruminner-messcount 
                                    p 110
                                    span сообщений
                            .foruminner-bottom_imgbox__item
                                a(href="#").foruminner-nick Kari70      
                                p.foruminner-city г.Москва          
                        .foruminner-bottom_article
                            .foruminner-date.foruminner-bottom_date 5.06.2019 г 
                                span 9:56
                            .foruminner-bottom_comment
                                .foruminner-bottom_text
                                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                .foruminner-bottom_action
                                    .forum-article_like.foruminner-like
                                        .forum-article_likecount
                                            span 79       
                                        .forum-article_likeicon.like-icon_blue
                                        .tooltip-box.tooltip-forum.tooltip-forum_inner
                                            .tooltip-article
                                                .tooltip-article_inner
                                                    |Для того что бы оставить комментарий или поставить отметку необходимо 
                                                    span зарегистрироваться   
                                    .foruminner-commentcount 10 Комментариев
                                    .foruminner-bottom_btn
                                        button.quote-btn Цитировать
                                        button.btn-blue.comment-btn.add-comment Комментировать

                    .foruminner-bottom_comments
                        .foruminner-bottom_comments__item
                            .foruminner-bottom_inner
                                .foruminner-bottom_imgbox
                                    .foruminner-bottom_imgbox__item
                                        a(href="#").foruminner-img
                                            img(src="img/ava-forum2.png")
                                        .foruminner-messcount 
                                            p 110
                                            span сообщений
                                    .foruminner-bottom_imgbox__item
                                        a(href="#").foruminner-nick Kari70      
                                        p.foruminner-city г.Москва          
                                .foruminner-bottom_article
                                    .foruminner-date
                                        p 
                                            b ответ 
                                            a(href="#") Kari70
                                        p 5.06.2019 г 
                                            span 9:56
                                    .foruminner-bottom_comment.comment-answears
                                        .foruminner-bottom_text
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                        .foruminner-bottom_action
                                            .forum-article_like.foruminner-like
                                                .forum-article_likecount
                                                    span 79       
                                                .forum-article_likeicon.like-icon_blue
                                                .tooltip-box.tooltip-forum.tooltip-forum_inner
                                                    .tooltip-article
                                                        .tooltip-article_inner
                                                            |Для того что бы оставить комментарий или поставить отметку необходимо 
                                                            span зарегистрироваться      
                                            .foruminner-bottom_btn
                                                button.quote-btn.add-answear Цитировать
                                                button.btn-blue.comment-btn.add-answear Комментировать
                            .foruminner-formcomment.formcomment-inner
                                .foruminner-formcomment_title
                                    p Ответ 
                                        a(href="#") Kari70
                                    .quote-box
                                .foruminner-formcomment_inner     
                                    textarea(placeholder="Ваш комментарий").foruminner-formcomment_textarea
                                    .foruminner-formcomment_btnbox
                                        button.btn-blue.comment-btn Комментировать

                        .foruminner-bottom_comments__item
                            .foruminner-bottom_inner
                                .foruminner-bottom_imgbox
                                    .foruminner-bottom_imgbox__item
                                        a(href="#").foruminner-img
                                            img(src="img/ava-forum2.png")
                                        .foruminner-messcount 
                                            p 110
                                            span сообщений
                                    .foruminner-bottom_imgbox__item
                                        a(href="#").foruminner-nick Kari70      
                                        p.foruminner-city г.Москва          
                                .foruminner-bottom_article
                                    .foruminner-date
                                        p 
                                            b ответ 
                                            a(href="#") Kari70
                                        p 5.06.2019 г 
                                            span 9:56
                                    .foruminner-bottom_comment.comment-answears
                                        .foruminner-bottom_text
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                        .foruminner-bottom_action
                                            .forum-article_like.foruminner-like
                                                .forum-article_likecount
                                                    span 79       
                                                .forum-article_likeicon.like-icon_blue
                                                .tooltip-box.tooltip-forum.tooltip-forum_inner
                                                    .tooltip-article
                                                        .tooltip-article_inner
                                                            |Для того что бы оставить комментарий или поставить отметку необходимо 
                                                            span зарегистрироваться      
                                            .foruminner-bottom_btn
                                                button.quote-btn.add-answear Цитировать
                                                button.btn-blue.comment-btn.add-answear Комментировать
                            .foruminner-formcomment.formcomment-inner
                                .foruminner-formcomment_title
                                    p Ответ 
                                        a(href="#") Kari70
                                    .quote-box    
                                .foruminner-formcomment_inner     
                                    textarea(placeholder="Ваш комментарий").foruminner-formcomment_textarea
                                    .foruminner-formcomment_btnbox
                                        button.btn-blue.comment-btn Комментировать


                    .foruminner-formcomment.formcomment-main
                        .foruminner-formcomment_title
                            p Ответ 
                                a(href="#") Kari70
                            .quote-box    
                        .foruminner-formcomment_inner     
                            textarea(placeholder="Ваш комментарий").foruminner-formcomment_textarea
                            .foruminner-formcomment_btnbox
                                button.btn-blue.comment-btn Комментировать
                .foruminner-bottom_item
                    .foruminner-bottom_inner
                        .foruminner-bottom_imgbox
                            .foruminner-bottom_imgbox__item
                                a(href="#").foruminner-img
                                    img(src="img/ava-forum2.png")
                                .foruminner-messcount 
                                    p 110
                                    span сообщений
                            .foruminner-bottom_imgbox__item
                                a(href="#").foruminner-nick Kari70      
                                p.foruminner-city г.Москва          
                        .foruminner-bottom_article
                            .foruminner-date.foruminner-bottom_date 5.06.2019 г 
                                span 9:56
                            .foruminner-bottom_comment
                                .foruminner-bottom_text
                                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                .foruminner-bottom_action
                                    .forum-article_like.foruminner-like
                                        .forum-article_likecount
                                            span 79       
                                        .forum-article_likeicon.like-icon_blue
                                        .tooltip-box.tooltip-forum.tooltip-forum_inner
                                            .tooltip-article
                                                .tooltip-article_inner
                                                    |Для того что бы оставить комментарий или поставить отметку необходимо 
                                                    span зарегистрироваться      
                                    .foruminner-commentcount 10 Комментариев
                                    .foruminner-bottom_btn
                                        button.quote-btn Цитировать
                                        button.btn-blue.comment-btn.add-comment Комментировать

                    .foruminner-bottom_comments
                        .foruminner-bottom_comments__item
                            .foruminner-bottom_inner
                                .foruminner-bottom_imgbox
                                    .foruminner-bottom_imgbox__item
                                        a(href="#").foruminner-img
                                            img(src="img/ava-forum2.png")
                                        .foruminner-messcount 
                                            p 110
                                            span сообщений
                                    .foruminner-bottom_imgbox__item
                                        a(href="#").foruminner-nick Kari70      
                                        p.foruminner-city г.Москва          
                                .foruminner-bottom_article
                                    .foruminner-date
                                        p 
                                            b ответ 
                                            a(href="#") Kari70
                                        p 5.06.2019 г 
                                            span 9:56
                                    .foruminner-bottom_comment.comment-answears
                                        .foruminner-bottom_text
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                        .foruminner-bottom_action
                                            .forum-article_like.foruminner-like
                                                .forum-article_likecount
                                                    span 79       
                                                .forum-article_likeicon.like-icon_blue
                                                .tooltip-box.tooltip-forum.tooltip-forum_inner
                                                    .tooltip-article
                                                        .tooltip-article_inner
                                                            |Для того что бы оставить комментарий или поставить отметку необходимо 
                                                            span зарегистрироваться      
                                            .foruminner-bottom_btn
                                                button.quote-btn.add-answear Цитировать
                                                button.btn-blue.comment-btn.add-answear Комментировать
                            .foruminner-formcomment.formcomment-inner
                                .foruminner-formcomment_title
                                    p Ответ 
                                        a(href="#") Kari70
                                    .quote-box
                                .foruminner-formcomment_inner     
                                    textarea(placeholder="Ваш комментарий").foruminner-formcomment_textarea
                                    .foruminner-formcomment_btnbox
                                        button.btn-blue.comment-btn Комментировать

                        .foruminner-bottom_comments__item
                            .foruminner-bottom_inner
                                .foruminner-bottom_imgbox
                                    .foruminner-bottom_imgbox__item
                                        a(href="#").foruminner-img
                                            img(src="img/ava-forum2.png")
                                        .foruminner-messcount 
                                            p 110
                                            span сообщений
                                    .foruminner-bottom_imgbox__item
                                        a(href="#").foruminner-nick Kari70      
                                        p.foruminner-city г.Москва          
                                .foruminner-bottom_article
                                    .foruminner-date
                                        p 
                                            b ответ 
                                            a(href="#") Kari70
                                        p 5.06.2019 г 
                                            span 9:56
                                    .foruminner-bottom_comment.comment-answears
                                        .foruminner-bottom_text
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                        .foruminner-bottom_action
                                            .forum-article_like.foruminner-like
                                                .forum-article_likecount
                                                    span 79       
                                                .forum-article_likeicon.like-icon_blue
                                                .tooltip-box.tooltip-forum.tooltip-forum_inner
                                                    .tooltip-article
                                                        .tooltip-article_inner
                                                            |Для того что бы оставить комментарий или поставить отметку необходимо 
                                                            span зарегистрироваться      
                                            .foruminner-bottom_btn
                                                button.quote-btn.add-answear Цитировать
                                                button.btn-blue.comment-btn.add-answear Комментировать
                            .foruminner-formcomment.formcomment-inner
                                .foruminner-formcomment_title
                                    p Ответ 
                                        a(href="#") Kari70
                                    .quote-box    
                                .foruminner-formcomment_inner     
                                    textarea(placeholder="Ваш комментарий").foruminner-formcomment_textarea
                                    .foruminner-formcomment_btnbox
                                        button.btn-blue.comment-btn Комментировать


                    .foruminner-formcomment.formcomment-main
                        .foruminner-formcomment_title
                            p Ответ 
                                a(href="#") Kari70
                            .quote-box    
                        .foruminner-formcomment_inner     
                            textarea(placeholder="Ваш комментарий").foruminner-formcomment_textarea
                            .foruminner-formcomment_btnbox
                                button.btn-blue.comment-btn Комментировать
            
            
            
            
                
                .pagination.pagination-forum
                    a(href="#").pagination-left 
                    a(href="#").curent 1
                    a(href="#") 2
                    a(href="#") 3
                    a(href="#") 4
                    a(href="#") 5
                    a(href="#") 6 
                    a(href="#") 7
                    a(href="#").pagination-right
                    a(href="#").pagination-next
                        |Вперед                                                                                                                    

include ./postcrossing.pug
