.border-wrap
    .container
        .sendpostcard-top.box-shadow.wow.slideInRight(data-wow-duration="1s")
            .news-top_inner
                .news-top_item.sendpostcard-top_img
                    img(src="img/mess-icon.png")
                .news-top_item
                    .breadcrumbs
                        a(href="#") Личный кабинет
                    p.basket-top_title Отправить открытку
                    p.sendpostcard-top_article Присвоение номера отправления через<br> портал Лига Посткроссеров
                    ul.sendpostcard-top_list
                        li
                            .sendpostcard-user
                                .sendpostcard-user_item
                                    p Логин
                                    input(type="text" value="Kari743" disabled).inp   
                                .sendpostcard-user_item
                                    p Номер
                                    .sendpostcard-user_inner
                                        label
                                            input(type="text" value="ae" disabled).inp   
                                        label
                                            input(type="text" value="2836581" disabled).inp  

.border-wrap   
    .container
        .sendpostcard.box-shadow.wow.slideInRight(data-wow-duration="2s")
            .sendpostcard-data_title 
                p Данные к отправлению открытки 
                    a(href="#") Kari743
            .sendpostcard-form.box-shadow
                .sendpostcard-form_item
                    p.sendpostcard-form_title Предпочтения пользователя 
                        a(href="#") Kari743
                    textarea(disabled)
                        |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    p.sendpostcard-form_title.grey
                        |Пожалуйста, внимательно сверяйте информацию в данном <br> блоке с данными на вашем конверте
                    .sendpostcard-form_index
                        label
                            input(type="text" value="1" disabled)
                        label
                            input(type="text" value="2" disabled)    
                        label
                            input(type="text" value="3" disabled)
                        label
                            input(type="text" value="4" disabled)
                        label
                            input(type="text" value="5" disabled)
                        label
                            input(type="text" value="6" disabled)                                                                               
                .sendpostcard-form_item
                    .sendpostcard-form_inner
                        p.sendpostcard-form_title Кому
                        label.sendpostcard-form_label.adress-box_inp
                            input(type="text" value="Ковалев Александр Викторович" disabled).inp
                        p.sendpostcard-form_title Куда
                        ul.adress-box.sendpostcard-form_list
                            li
                    
                                .adress-box_inp.adress-box_arrow
                                    input(type="text" value="Улица" disabled).inp
                            li
                                
                                .adress-box_inp.adress-box_inner
                                    .adress-box_inp
                                        input(type="text" value="Дом" disabled).inp
                                    .adress-box_inp
                                        input(type="text" value="Корпус" disabled).inp
                                    .adress-box_inp
                                        input(type="text" value="Кв/Комната" disabled).inp
                            li
                                
                                .adress-box_inp.adress-box_arrow
                                    input(type="text" value="Город/Населеный пункт" disabled).inp            
                            li
                        
                                .adress-box_inp.adress-box_arrow
                                    input(type="text" value="Район/Область" disabled).inp
                            li
                    
                                .adress-box_inp.adress-box_arrow
                                    input(type="text" value="Страна" disabled).inp
                            li
                                .adress-box_inp
                                    input(type="text" value="Индекс" disabled).inp
            .sendbox
                .sendbox_item
                    p Вы отправляете открытку с адреса, который указан<br> в вашем личном кабинете?
                .sendbox_item
                    button(type="button").sendbox_btn.btn-blue#sendBtnNo Нет
                    button(type="button").sendbox_btn.btn-red#sendBtnYes Да
                    
            .readytosend
                .readytosend-inner
                    p.readytosend-title Ваша открытка будет в пути:
                    p.readytosend-time 4 недели 3 дня 5 часов
                    p.readytosend-article Отслеживайте открытку в личном кабинете в разделе 
                        a(href="#postcard-info").postcard-scroll "Информация об открытках"
                    .readytosend-form.box-shadow
                        .readytosend-form_result
                            button.close-form_result
                            p Ваша открытка отправлена
                        .readytosend-form_item
                            p.readytosend-form_title Готовы отправить открытку?
                            .readytosend-form_inner
                                button.readytosend-form_btn.btn-red#sendPostcardBtn Отправить
                                button.readytosend-form_btn.btn-blue#canselPostcardBtn Не сейчас
                                
                            
            .editadress
                .editadress-inner
                    .editadress-item
                        p.editadress-title Введите свой адрес
                    .editadress-item
                        ul.adress-box.sendpostcard-form_list
                            li
                    
                                .adress-box_inp.adress-box_arrow
                                    input(type="text" placeholder="Улица").inp
                            li
                                
                                .adress-box_inp.adress-box_inner
                                    .adress-box_inp
                                        input(type="text" placeholder="Дом").inp
                                    .adress-box_inp
                                        input(type="text" placeholder="Корпус").inp
                                    .adress-box_inp
                                        input(type="text" placeholder="Квартира").inp
                            li
                                .adress-box_room
                                    .adress-box_room__item
                                        input(type="text" placeholder="Комната").inp
                                    .adress-box_room__item
                                        input(type="text" placeholder="Населеный пункт").inp                  
                            li
                        
                                .adress-box_inp
                                    input(type="text" placeholder="Район/Область").inp
                            li
                    
                                .adress-box_inp
                                    input(type="text" placeholder="Регион").inp
                            li
                                .adress-box_inp.adress-box_arrow
                                    input(type="text" placeholder="Страна").inp
                        .editadress-btn_wrap
                            button.editadress-btn.btn.btn-red#aprooveAdress Продолжить
                
                    
                
                    
            

include ./postcard-info.pug    
