.cloud-wrap
    .cloud-animate
        img(src="img/cont-cloud.png")
    .container
        .service.katalog.box-shadow.wow.slideInRight(data-wow-duration="2s")
            .katalog-title.service-title
                h2 Услуги
            ul.katalog-list.service-list
                li
                    .service-list_item
                        .katalog-list_img.product-cat_img
                            a(href="#")
                                img(src="img/cat-img.png")
                            button.product-addbasket_btn.btn-blue Добавить в корзину
                    .service-list_item
                        .service-list_info
                            p.service-list_title Создать дизайн и распечатать партии открыток к мероприятию
                            p.service-list_article Описание услуги    
                        .product-count.product-cat_count
                            .product-count_item
                                .switch-count.product-cat_counter
                                    span.switch-button -
                                    input(type="text" value="1" disabled="disabled").count-field.quantity  
                                    span.switch-button +
                                
                            .product-count_item
                                .product-cat_price
                                    .product-cat_price_main
                                        input(type="hidden" value="3439").current-price
                                        span 3439 
                                        |р
                li
                    .service-list_item
                        .katalog-list_img.product-cat_img
                            a(href="#")
                                img(src="img/cat-img.png")
                            button.product-addbasket_btn.btn-blue Добавить в корзину
                    .service-list_item
                        .service-list_info
                            p.service-list_title Создать дизайн и распечатать партии открыток к мероприятию
                            p.service-list_article Описание услуги    
                        .product-count.product-cat_count
                            .product-count_item
                                .switch-count.product-cat_counter
                                    span.switch-button -
                                    input(type="text" value="1" disabled="disabled").count-field.quantity  
                                    span.switch-button +
                                
                            .product-count_item
                                .product-cat_price
                                    .product-cat_price_main
                                        input(type="hidden" value="3439").current-price
                                        span 3439 
                                        |р                
                li
                    .service-list_item
                        .katalog-list_img.product-cat_img
                            a(href="#")
                                img(src="img/cat-img.png")
                            button.product-addbasket_btn.btn-blue Добавить в корзину
                    .service-list_item
                        .service-list_info
                            p.service-list_title Создать дизайн и распечатать партии открыток к мероприятию
                            p.service-list_article Описание услуги    
                        .product-count.product-cat_count
                            .product-count_item
                                .switch-count.product-cat_counter
                                    span.switch-button -
                                    input(type="text" value="1" disabled="disabled").count-field.quantity  
                                    span.switch-button +
                                
                            .product-count_item
                                .product-cat_price
                                    .product-cat_price_main
                                        input(type="hidden" value="3439").current-price
                                        span 3439 
                                        |р
                li
                    .service-list_item
                        .katalog-list_img.product-cat_img
                            a(href="#")
                                img(src="img/cat-img.png")
                            button.product-addbasket_btn.btn-blue Добавить в корзину
                    .service-list_item
                        .service-list_info
                            p.service-list_title Создать дизайн и распечатать партии открыток к мероприятию
                            p.service-list_article Описание услуги    
                        .product-count.product-cat_count
                            .product-count_item
                                .switch-count.product-cat_counter
                                    span.switch-button -
                                    input(type="text" value="1" disabled="disabled").count-field.quantity  
                                    span.switch-button +
                                
                            .product-count_item
                                .product-cat_price
                                    .product-cat_price_main
                                        input(type="hidden" value="3439").current-price
                                        span 3439 
                                        |р
                li
                    .service-list_item
                        .katalog-list_img.product-cat_img
                            a(href="#")
                                img(src="img/cat-img.png")
                            button.product-addbasket_btn.btn-blue Добавить в корзину
                    .service-list_item
                        .service-list_info
                            p.service-list_title Создать дизайн и распечатать партии открыток к мероприятию
                            p.service-list_article Описание услуги    
                        .product-count.product-cat_count
                            .product-count_item
                                .switch-count.product-cat_counter
                                    span.switch-button -
                                    input(type="text" value="1" disabled="disabled").count-field.quantity  
                                    span.switch-button +
                                
                            .product-count_item
                                .product-cat_price
                                    .product-cat_price_main
                                        input(type="hidden" value="3439").current-price
                                        span 3439 
                                        |р
                li
                    .service-list_item
                        .katalog-list_img.product-cat_img
                            a(href="#")
                                img(src="img/cat-img.png")
                            button.product-addbasket_btn.btn-blue Добавить в корзину
                    .service-list_item
                        .service-list_info
                            p.service-list_title Создать дизайн и распечатать партии открыток к мероприятию
                            p.service-list_article Описание услуги    
                        .product-count.product-cat_count
                            .product-count_item
                                .switch-count.product-cat_counter
                                    span.switch-button -
                                    input(type="text" value="1" disabled="disabled").count-field.quantity  
                                    span.switch-button +
                                
                            .product-count_item
                                .product-cat_price
                                    .product-cat_price_main
                                        input(type="hidden" value="3439").current-price
                                        span 3439 
                                        |р                
                li
                    .service-list_item
                        .katalog-list_img.product-cat_img
                            a(href="#")
                                img(src="img/cat-img.png")
                            button.product-addbasket_btn.btn-blue Добавить в корзину
                    .service-list_item
                        .service-list_info
                            p.service-list_title Создать дизайн и распечатать партии открыток к мероприятию
                            p.service-list_article Описание услуги    
                        .product-count.product-cat_count
                            .product-count_item
                                .switch-count.product-cat_counter
                                    span.switch-button -
                                    input(type="text" value="1" disabled="disabled").count-field.quantity  
                                    span.switch-button +
                                
                            .product-count_item
                                .product-cat_price
                                    .product-cat_price_main
                                        input(type="hidden" value="3439").current-price
                                        span 3439 
                                        |р
                li
                    .service-list_item
                        .katalog-list_img.product-cat_img
                            a(href="#")
                                img(src="img/cat-img.png")
                            button.product-addbasket_btn.btn-blue Добавить в корзину
                    .service-list_item
                        .service-list_info
                            p.service-list_title Создать дизайн и распечатать партии открыток к мероприятию
                            p.service-list_article Описание услуги    
                        .product-count.product-cat_count
                            .product-count_item
                                .switch-count.product-cat_counter
                                    span.switch-button -
                                    input(type="text" value="1" disabled="disabled").count-field.quantity  
                                    span.switch-button +
                                
                            .product-count_item
                                .product-cat_price
                                    .product-cat_price_main
                                        input(type="hidden" value="3439").current-price
                                        span 3439 
                                        |р
            
            .pagination.pagination-center
                a(href="#").pagination-left 
                a(href="#").curent 1
                a(href="#") 2
                a(href="#") 3
                a(href="#") 4
                a(href="#") 5
                a(href="#") 6 
                a(href="#") 7
                a(href="#").pagination-right
                a(href="#").pagination-next
                    |Вперед  
