.container
    .katalog.box-shadow.wow.slideInRight(data-wow-duration="2s")
        .katalog-title
            h2 Каталог
        ul.katalog-list
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание
            li
                a(href="#").katalog-list_img
                    img(src="img/cat-img.png")
                a(href="#").katalog-list_title
                    |Название<br> категории
                p.katalog-list_article Краткое описание    
        .pagination.pagination-center
            a(href="#").pagination-left 
            a(href="#").curent 1
            a(href="#") 2
            a(href="#") 3
            a(href="#") 4
            a(href="#") 5
            a(href="#") 6 
            a(href="#") 7
            a(href="#").pagination-right
            a(href="#").pagination-next
                |Вперед   
