.border-wrap
    .cloud-wrap
        .cloud-animate
            img(src="img/cont-cloud.png")
    .container
        .purchaces-top.news-top.box-shadow.wow.slideInRight(data-wow-duration="1s")
            .news-top_inner
                .news-top_item
                    img(src="img/star-letter.png")
                .news-top_item
                    p.basket-top_title Мои покупки
                    ul.basket-info_list
                        li
                            |У вас 24 покупки
                        li    
                            |Последняя покупка 29.04.19 в 16:00
                        li
                            a(href="#") подробнее    

.border-wrap              
    .container
        .purchaces.box-shadow.wow.slideInRight(data-wow-duration="2s")
            .news-sort
                p Сортировать:
                .select-block
                    select.news-sort_select
                        option По дате
                        option По цене
                        option Тест
            
            ul.purchaces-list.katalog-list
                li
                    .purchaces-list_img
                        img(src="img/star-letter-grey.png")
                    p.product-cat_name Название товара
                    p.product-cat_date 20.06.19 17:27
                    .product-cat_price.product-cat_price__action 
                        .product-cat_price_main
                            span.basket-price 3439
                            |р
                        .product-cat_price_old 
                            strike 4000 р      
                li
                    .purchaces-list_img
                        img(src="img/star-letter-grey.png")
                    p.product-cat_name Название товара
                    p.product-cat_date 20.06.19 17:27
                    .product-cat_price.product-cat_price__action 
                        .product-cat_price_main
                            span.basket-price 3439
                            |р
                        .product-cat_price_old 
                            strike 4000 р 
                            
                li
                    .purchaces-list_img
                        img(src="img/star-letter-grey.png")
                    p.product-cat_name Название товара
                    p.product-cat_date 20.06.19 17:27
                    .product-cat_price
                        .product-cat_price_main
                            span.basket-price 3439
                            |р
                        .product-cat_price_old 
                            strike 4000 р     
                li
                    .purchaces-list_img
                        img(src="img/star-letter-grey.png")
                    p.product-cat_name Название товара
                    p.product-cat_date 20.06.19 17:27
                    .product-cat_price.product-cat_price__action 
                        .product-cat_price_main
                            span.basket-price 3439
                            |р
                        .product-cat_price_old 
                            strike 4000 р      
                li
                    .purchaces-list_img
                        img(src="img/star-letter-grey.png")
                    p.product-cat_name Название товара
                    p.product-cat_date 20.06.19 17:27
                    .product-cat_price.product-cat_price__action 
                        .product-cat_price_main
                            span.basket-price 3439
                            |р
                        .product-cat_price_old 
                            strike 4000 р 
                            
                li
                    .purchaces-list_img
                        img(src="img/star-letter-grey.png")
                    p.product-cat_name Название товара
                    p.product-cat_date 20.06.19 17:27
                    .product-cat_price
                        .product-cat_price_main
                            span.basket-price 3439
                            |р
                        .product-cat_price_old 
                            strike 4000 р
                li
                    .purchaces-list_img
                        img(src="img/star-letter-grey.png")
                    p.product-cat_name Название товара
                    p.product-cat_date 20.06.19 17:27
                    .product-cat_price.product-cat_price__action 
                        .product-cat_price_main
                            span.basket-price 3439
                            |р
                        .product-cat_price_old 
                            strike 4000 р      
                li
                    .purchaces-list_img
                        img(src="img/star-letter-grey.png")
                    p.product-cat_name Название товара
                    p.product-cat_date 20.06.19 17:27
                    .product-cat_price.product-cat_price__action 
                        .product-cat_price_main
                            span.basket-price 3439
                            |р
                        .product-cat_price_old 
                            strike 4000 р 
                            
                li
                    .purchaces-list_img
                        img(src="img/star-letter-grey.png")
                    p.product-cat_name Название товара
                    p.product-cat_date 20.06.19 17:27
                    .product-cat_price
                        .product-cat_price_main
                            span.basket-price 3439
                            |р
                        .product-cat_price_old 
                            strike 4000 р     
                li
                    .purchaces-list_img
                        img(src="img/star-letter-grey.png")
                    p.product-cat_name Название товара
                    p.product-cat_date 20.06.19 17:27
                    .product-cat_price.product-cat_price__action 
                        .product-cat_price_main
                            span.basket-price 3439
                            |р
                        .product-cat_price_old 
                            strike 4000 р      
                li
                    .purchaces-list_img
                        img(src="img/star-letter-grey.png")
                    p.product-cat_name Название товара
                    p.product-cat_date 20.06.19 17:27
                    .product-cat_price.product-cat_price__action 
                        .product-cat_price_main
                            span.basket-price 3439
                            |р
                        .product-cat_price_old 
                            strike 4000 р 
                            
                li
                    .purchaces-list_img
                        img(src="img/star-letter-grey.png")
                    p.product-cat_name Название товара
                    p.product-cat_date 20.06.19 17:27
                    .product-cat_price
                        .product-cat_price_main
                            span.basket-price 3439
                            |р
                        .product-cat_price_old 
                            strike 4000 р
            
            .pagination.pagination-main
                a(href="#").pagination-left 
                a(href="#").curent 1
                a(href="#") 2
                a(href="#") 3
                a(href="#") 4
                a(href="#") 5
                a(href="#") 6 
                a(href="#") 7
                a(href="#").pagination-right
                a(href="#").pagination-next
                    |Вперед 

include ./postcard-info.pug    
