.postcard-info_wrap.wow.slideInRight(data-wow-duration="2s" data-wow-offset="10")
    .container    
        .postcard-info.box-shadow
            .postcard-info_top
                p.main-title Информация об открытках
                ul.postcard-info_tabs
                    li
                        a(href="#postcard-get").active Получено 
                            span.count-get 335
                    li
                        a(href="#postcard-send") Отправлено 
                            span.count-send 335
                    li
                        a(href="#postcard-onway") Открытки в пути

            ul.postcard-info_sort
                li
                    p Сортировать 
                li
                    a(href="#") все
                li
                    a(href="#") сначала новые
                li
                    a(href="#") сначала старые    
            
            .postcard-table.tab-table#postcard-onway          
                table
                    tr.postcard-table_main.postcard-table_send
                        th
                        th.postcard-table_imgbox
                            .delete-table
                            .postcard-table_item
                                a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                    img(src="img/s1.jpg")
                                .send-date
                                    p Дата<br> отправления
                                    span 21.06.2019 г        
                            
                        th.postcard-table_arrow
                            .status-arrow_r
                                .status-tooltip
                                    .status-tooltip_sircle
                                    .status-tooltip_article
                                        .status-tooltip_inner
                                            |Осталось 2 недели 4 дня 8 часов

                        th.postcard-table_imgbox
                            .send-login
                                a(href="#") Lena76
                                p 21.06.2019 г
                                p ае - 2836581
                        th
                    tr.postcard-table_main.postcard-table_get
                        th
                        th.postcard-table_imgbox
                            .delete-table
                            .send-login
                                a(href="#") Lena76
                                p 21.06.2019 г
                                p ае - 2836581
                           
                            
                        th.postcard-table_arrow
                            .status-arrow_l
                                .status-tooltip
                                    .status-tooltip_sircle
                                    .status-tooltip_article
                                        .status-tooltip_inner
                                            |Осталось 2 недели 4 дня 8 часов

                        th.postcard-table_imgbox
                            .postcard-table_item
                                a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                    img(src="img/s2.jpg")
                                .send-date
                                    p Дата<br> отправления
                                    span 21.06.2019 г 
                        th 
                    tr.postcard-table_main.postcard-table_send
                        th
                        th.postcard-table_imgbox
                            .delete-table
                            .postcard-table_item
                                a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                    img(src="img/s1.jpg")
                                .send-date
                                    p Дата<br> отправления
                                    span 21.06.2019 г        
                            
                        th.postcard-table_arrow
                            .status-arrow_r
                                .status-tooltip
                                    .status-tooltip_sircle
                                    .status-tooltip_article
                                        .status-tooltip_inner
                                            |Осталось 2 недели 4 дня 8 часов

                        th.postcard-table_imgbox
                            .send-login
                                a(href="#") Lena76
                                p 21.06.2019 г
                                p ае - 2836581
                        th
                    tr.postcard-table_main.postcard-table_get
                        th
                        th.postcard-table_imgbox
                            .delete-table
                            .send-login
                                a(href="#") Lena76
                                p 21.06.2019 г
                                p ае - 2836581
                           
                            
                        th.postcard-table_arrow
                            .status-arrow_l
                                .status-tooltip
                                    .status-tooltip_sircle
                                    .status-tooltip_article
                                        .status-tooltip_inner
                                            |Осталось 2 недели 4 дня 8 часов

                        th.postcard-table_imgbox
                            .postcard-table_item
                                a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                    img(src="img/s2.jpg")
                                .send-date
                                    p Дата<br> отправления
                                    span 21.06.2019 г 
                        th
                    tr.postcard-table_main.postcard-table_send
                        th
                        th.postcard-table_imgbox
                            .delete-table
                            .postcard-table_item
                                a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                    img(src="img/s1.jpg")
                                .send-date
                                    p Дата<br> отправления
                                    span 21.06.2019 г        
                            
                        th.postcard-table_arrow
                            .status-arrow_r
                                .status-tooltip
                                    .status-tooltip_sircle
                                    .status-tooltip_article
                                        .status-tooltip_inner
                                            |Осталось 2 недели 4 дня 8 часов

                        th.postcard-table_imgbox
                            .send-login
                                a(href="#") Lena76
                                p 21.06.2019 г
                                p ае - 2836581
                        th                                        
            .postcard-table.tab-table#postcard-get          
                table
                    tr
                        th Номер отправления
                        th Логин
                        th Страна 
                        th Дата отправления
                        th Дата регистрации 
                        th Изображение
                    tr.postcard-table_main
                        th 
                            .send-number ае - 2836581
                                .delete-table
                        th 
                            a(href="#") Lena76
                        th Россия 
                        th 20.06.2019 г
                        th 21.06.2019 г
                        th 
                            a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                img(src="img/s1.jpg")
                    tr.postcard-table_main
                        th 
                            .send-number ае - 2836581
                                .delete-table
                        th 
                            a(href="#") Lena76
                        th Россия 
                        th 20.06.2019 г
                        th 21.06.2019 г
                        th 
                            a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                img(src="img/s1.jpg")
                                    
                    tr.postcard-table_main
                        th 
                            .send-number ае - 2836581
                                .delete-table
                        th 
                            a(href="#") Lena76
                        th Россия 
                        th 20.06.2019 г
                        th 21.06.2019 г
                        th 
                            a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                img(src="img/s1.jpg")
                    tr.postcard-table_main
                        th 
                            .send-number ае - 2836581
                                .delete-table
                        th 
                            a(href="#") Lena76
                        th Россия 
                        th 20.06.2019 г
                        th 21.06.2019 г
                        th 
                            a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                img(src="img/s1.jpg")
                                    
                    tr.postcard-table_main
                        th 
                            .send-number ае - 2836581
                                .delete-table
                        th 
                            a(href="#") Lena76
                        th Россия 
                        th 20.06.2019 г
                        th 21.06.2019 г
                        th 
                            a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                img(src="img/s1.jpg")
            .postcard-table.tab-table#postcard-send          
                table
                    tr
                        th Номер отправления
                        th Логин
                        th Страна 
                        th Дата отправления
                        th Дата регистрации 
                        th Изображение
                    tr.postcard-table_main
                        th 
                            .send-number ае - 2836581
                                .delete-table
                        th 
                            a(href="#") Lena76
                        th Россия 
                        th 20.06.2019 г
                        th 21.06.2019 г
                        th 
                            a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                img(src="img/s1.jpg")
                    tr.postcard-table_main
                        th 
                            .send-number ае - 2836581
                                .delete-table
                        th 
                            a(href="#") Lena76
                        th Россия 
                        th 20.06.2019 г
                        th 21.06.2019 г
                        th 
                            a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                img(src="img/s1.jpg")
                                    
                    tr.postcard-table_main
                        th 
                            .send-number ае - 2836581
                                .delete-table
                        th 
                            a(href="#") Lena76
                        th Россия 
                        th 20.06.2019 г
                        th 21.06.2019 г
                        th 
                            a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                img(src="img/s1.jpg")
                    tr.postcard-table_main
                        th 
                            .send-number ае - 2836581
                                .delete-table
                        th 
                            a(href="#") Lena76
                        th Россия 
                        th 20.06.2019 г
                        th 21.06.2019 г
                        th 
                            a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                img(src="img/s1.jpg")
                                    
                    tr.postcard-table_main
                        th 
                            .send-number ае - 2836581
                                .delete-table
                        th 
                            a(href="#") Lena76
                        th Россия 
                        th 20.06.2019 г
                        th 21.06.2019 г
                        th 
                            a(href="img/s1.jpg" data-fancybox="group-img").postcard-table_img
                                img(src="img/s1.jpg")                    
            
            .pagination.postcard-info_nav
                a(href="#").pagination-left 
                a(href="#").curent 1
                a(href="#") 2
                a(href="#") 3
                a(href="#") 4
                a(href="#") 5
                a(href="#") 6 
                a(href="#") 7
                a(href="#").pagination-right
                a(href="#").pagination-next
                    |Вперед  

                    
                                        
