.container
   .postcrossing.wow.slideInRight(data-wow-duration="1s" data-wow-offset="10")
       h2.main-title Посткроссинг
       .postcrossing-article.main-text
            p Проект, созданный для возможности получения открыток со всего мира; возник подвлиянием буккроссинга. В основе принципа обмена открытками лежит единая база всех участников проекта, а также механизм выдачи адресов, направленный на то, чтобы разница между отправленными и полученными открытками у каждого участника была минимальной. При этом в посткроссинге имеет место система непрямого обмена, то есть отправляя открытки одним пользователям, участник получает их от других.
            p На апрель 2017 года в проекте было зарегистрировано более 676 000 человек из 208 стран[3], 2 июня 2015 года была получена 30-миллионная открытка[4], а 13 февраля 2017 года — 40-миллионная[5] 
